/*colors */
/*media queries */
/* line 1, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.body-container, .menu-container, .domain-container {
  width: 100%;
  max-width: 984px;
  margin: auto; }

/* line 7, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
textarea {
  outline: none; }

/* line 11, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
input {
  outline: none; }
  /* line 17, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=search] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

/*/////////////////////////////////
 *			  Menu
 */
/* line 28, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu-wide {
  width: 100%;
  background: #E23737;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  /* line 41, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .menu-wide.menu-small {
    height: 50px; }
    /* line 43, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
    .menu-wide.menu-small .menu-container {
      height: 50px; }
      /* line 45, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
      .menu-wide.menu-small .menu-container .menu {
        height: 50px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    /* line 50, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
    .menu-wide.menu-small span {
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  /* line 56, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .menu-wide.menu-big {
    height: 100px; }
    /* line 58, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
    .menu-wide.menu-big .menu-container {
      height: 100px; }
      /* line 60, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
      .menu-wide.menu-big .menu-container .menu {
        height: 100px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    /* line 65, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
    .menu-wide.menu-big span {
      height: 100px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

/* line 72, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu-container {
  height: inherit; }

/* line 77, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu {
  width: 100%;
  max-width: 984px;
  height: inherit;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* line 85, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu-logo {
  width: 27%;
  height: 100%;
  font-family: Montserrat;
  font-size: 37px;
  color: #333333;
  display: inline-block; }

/* line 95, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu ul {
  display: inline-block;
  height: 100%;
  width: 72%;
  margin: 0;
  padding: 0; }
  /* line 101, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .menu ul li {
    display: block;
    position: relative;
    width: 20%;
    float: left; }
  @media (min-width: 768px) {
    /* line 95, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
    .menu ul {
      position: relative !important;
      right: 0 !important; } }

/* line 112, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu a {
  text-decoration: none;
  color: #F2F2F2; }

/* line 116, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu a:hover {
  color: #243B47; }

/* line 121, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu ul li a span:hover {
  color: #243B47; }

/* line 126, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu a {
  padding: 0 20px;
  display: table;
  margin: auto;
  width: inherit;
  height: inherit; }

/*.menu-active {
 *	color : #ED504C !important;
 *	border-bottom: solid 3px #306D96;
 *
 *}
 *
 *.menu-active span, .menu-active a{
 *	color : #ED504C !important;
 *} */
/* line 146, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu-span {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  color: #F2F2F2; }

/* line 157, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.menu-span-logo {
  display: table-cell;
  vertical-align: middle;
  width: inherit; }

/*/////////////////////////////////
 *		   Front Slider
 */
/* line 167, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.front-slider {
  width: 100%;
  height: 465px;
  background-color: #E23737;
  position: relative;
  padding-top: 100px; }

/* line 175, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.break1 {
  width: 100%;
  height: 37px;
  margin: 0;
  padding: 0;
  background-color: #243B47; }

/* line 183, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.break2 {
  width: 100%;
  height: 15px;
  margin: 0;
  padding: 0;
  background-color: #ECF0F1; }

/* line 191, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.sliderimage1 {
  max-width: 984px;
  height: 100%;
  margin: auto; }

/*/////////////////////////////////
 *		   Front Services
 */
/* line 201, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.services-front {
  height: 260px;
  width: 100%; }
  /* line 204, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .services-front ul {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 50px; }
    /* line 210, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
    .services-front ul li {
      display: block;
      position: relative;
      width: 25%;
      float: left;
      padding: 0 20px;
      display: table;
      margin: auto; }
  /* line 220, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .services-front span {
    display: table-cell;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    width: inherit;
    height: inherit;
    height: 100px;
    font-family: Ubuntu;
    font-weight: 600;
    font-size: 16px;
    color: #4D4D4D; }

/* line 235, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.service-circle {
  border-radius: 50px;
  background: #F2F2F2;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 22px; }
  /* line 243, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .service-circle img {
    margin: 17.5px 0px;
    max-height: 65px; }

/*/////////////////////////////////
 *		  Domain Search
 */
/* line 253, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-text {
  font-family: Ubuntu;
  font-size: 23px;
  color: #B3B3B3;
  background: #ECF0F1;
  padding: 0px 0px 0px 80px;
  border: none;
  width: 77%;
  height: 40px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  float: left; }

/* line 269, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-button {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  color: #F2F2F2;
  background: #243B47;
  border: none;
  width: 20%;
  float: right;
  height: 40px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative; }

/* line 285, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-search {
  position: relative;
  margin: auto;
  padding: 50px 145px; }
  /* line 286, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .domain-search label {
    position: absolute;
    top: 4px;
    left: 15px;
    z-index: 100;
    font-family: Ubuntu;
    font-size: 23px;
    color: #243B47; }

/* line 300, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain1 {
  position: relative; }

/* line 304, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
#domain-result {
  font-family: Ubuntu;
  font-size: 14px;
  color: #F2F2F2;
  font-weight: 500;
  display: none; }

/* line 312, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-available {
  background: #95CE52;
  padding: 7px;
  border-radius: 4px;
  width: 77%;
  margin-bottom: 50px; }

/* line 320, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-unavailable {
  background: #333333;
  padding: 7px;
  border-radius: 4px;
  width: 77%;
  margin-bottom: 50px; }

/* line 328, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* line 336, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.domain-loading {
  position: absolute;
  right: 24%;
  top: 6px; }

/*/////////////////////////////////
 *		   Front Tiers
 */
/* line 346, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.tier-container {
  width: 100%; }
  /* line 349, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .tier-container .body-container, .tier-container .menu-container, .tier-container .domain-container {
    margin-top: -101px; }

/* line 354, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.tier-wide {
  width: 100%;
  height: 51px;
  background: #243B47; }

/* line 360, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.tier-title {
  background: #243B47;
  width: 100%;
  height: 51px;
  font-family: Ubuntu;
  font-size: 28px;
  color: #F2F2F2;
  font-weight: 500;
  text-align: center;
  margin: auto;
  padding-top: 4px;
  position: relative; }
  /* line 372, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .tier-title.middle {
    background-color: #E23737; }

/* line 378, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.front-tiers li {
  list-style: none;
  display: block;
  float: left;
  width: 33%;
  margin-bottom: 50px; }

/* line 385, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.front-tiers ul {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0 18px; }

/* line 395, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.tier-info {
  height: auto;
  width: 100%;
  position: relative;
  margin-top: -20px;
  z-index: -1;
  padding-top: 15px; }
  /* line 402, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .tier-info p {
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 34.15px;
    color: #333333;
    font-weight: 300; }
  /* line 410, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .tier-info h1 {
    text-align: center;
    font-family: Ubuntu;
    font-size: 34px;
    color: #2C3E50; }
  /* line 416, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .tier-info h2 {
    font-family: Ubuntu;
    font-size: 15px;
    color: #CCCCCC;
    text-align: center;
    margin-top: -7px; }
  /* line 423, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
  .tier-info.middle {
    border-left: solid 3px #ECF0F1;
    border-right: solid 3px #ECF0F1; }

/* line 432, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.footer-menu, .footer-services {
  Border-left: solid 2px #243B47;
  list-style: none;
  margin: 25px 25px;
  padding: 0;
  padding-left: 10px;
  display: inline-block;
  float: left; }

/* line 442, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.footer-services {
  border-left: solid 2px #E23737; }

/* line 447, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
footer {
  height: 167px; }

/* line 451, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.footer-logo a {
  line-height: 31px;
  font-family: Montserrat;
  font-size: 46px;
  color: #243B47;
  display: inline-block;
  text-decoration: none; }

/* line 460, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.footer-menu a, .footer-services a {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 14px;
  color: #333333; }

/* line 467, Z:/123Go/123go/123Go v2/123go sass/sass/_body.scss */
.footer-info {
  float: right;
  font-family: Ubuntu;
  font-size: 13px;
  color: #999999;
  margin: 25px; }

@media (min-width: 768px) {
  /* line 1, Z:/123Go/123go/123Go v2/123go sass/sass/_desktop.scss */
  body {
    width: 100%;
    min-width: 984px; }
  /* line 6, Z:/123Go/123go/123Go v2/123go sass/sass/_desktop.scss */
  .toggle-panel {
    display: none !important; } }

@media (max-width: 767px) {
  /* line 1, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  body {
    width: 100%;
    min-width: 0; }
  /* line 6, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  .menu-bar {
    display: none !important; }
  /* line 10, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  .menu-toggle {
    display: block !important; }
  /* line 15, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  .menu ul {
    background: #333333;
    width: 100%;
    height: auto;
    margin-top: -5px;
    overflow: hidden;
    padding-bottom: 10px; }
    /* line 22, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
    .menu ul li {
      width: 100%; }
  /* line 26, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  .menu a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 28, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
    .menu a.toggle-panel {
      width: auto;
      float: right;
      height: 100%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      /* line 33, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
      .menu a.toggle-panel i {
        display: table-cell;
        vertical-align: middle; }
  /* line 42, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  #menu li {
    height: 30px; }
    /* line 44, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
    #menu li span {
      text-align: center;
      height: 30px; }
  /* line 52, Z:/123Go/123go/123Go v2/123go sass/sass/_mobile.scss */
  .domain-search {
    padding: 50px 18px; } }

/*# sourceMappingURL=style.css.map */