/*media queries */

@mixin query($point) {
  @if $point == mobile-big {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == mobile-small {
    @media (max-width: 480px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 768px)  { @content; }
  }
}

@mixin transition($time){
        -webkit-transition: all ($time);
    -moz-transition: all ($time);
    -ms-transition: all ($time);
    -o-transition: all ($time);
    transition: all ($time);
} 