body{
    width: 100%;
    min-width: 0; 
}

.menu-bar {
    display: none !important;
}

.menu-toggle{
    display: block !important;
}

.menu {
    ul{
    background: $textblack;
    width: 100%;
    height: auto;
    margin-top:-5px;
    overflow: hidden;
        padding-bottom: 10px;
    li{
        width: 100%;
    }
    }
    a{
        @include transition(0.3s);
        &.toggle-panel{
            width: auto;
            float: right;
            height: 100%;
            @include transition(0.3s);
            i{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

#menu {
    li{
        height: 30px;
        span{
            text-align: center;
            height: 30px;
   
        }
    }
}

.domain-search {
    padding: 50px 18px;
}


